
<div class="row" ng-show="vehicle">
	<div class="row">
		<div class="col-sm-9">
			<h2 id="titleCarDetPage">{{vehicle.make.name}} {{vehicle.model.name}} {{vehicle.numOfDoors}} doors - {{vehicle.year.year}}</h2>
			<b class="text">Style</b> <select name="selStyle" class="select-style" ng-options="style.name for style in styles" ng-model="selectedStyle" ng-change="showSummaryRatings(); getEquipment(); showDetails(); showPictures(); showReviews()">
		   </select>
	   	</div>
	   	<div class="col-sm-3">
	   		<button type="button" class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#myModal">See Car Equipment</button>
	   		<button class="btn btn-lg btn-primary btn-block" ng-click="addCarToFavorites()">Add Car to Favorites</button>

	   </div>
   	</div>

   	<!-- More Car Details -->
	<!-- Used to see ratings. Cars from my app do not have them
		This will be never displayed.-->
	<div class="row" ng-show="carRating" ng-if="carRating.status!='NOT_FOUND'">
   		<div class="col-sm-12">
   			<h3>Summary</h3>
   			Grade: {{ carRating.grade }}
   			Date: {{ carRating.date }} <br/>
   			Summary: <p>{{ carRating.summary }}</p>
   		</div>
   	</div>

	<!-- Equipment Modal -->
  	<div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
			    <div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal">&times;</button>
			      	<h4 class="modal-title">Car Equipment</h4>
			    </div>
			    <div class="modal-body">
			      	<div class="equipmentElement" ng-repeat="equipment in equipmentArray">
			   			<h2>{{equipment.name}} </h2><hr>
			   			<b>Type: {{equipment.equipmentType}}</b><br/>
			   			<b>Availability: {{equipment.availability}}</b>
			   			<ul>
			   				<li ng-repeat="attribute in equipment.attributes">{{ attribute.name}}: {{ attribute.value }}</li>
			   			</ul>
			   		</div>
			    </div>
			    <div class="modal-footer">
			      	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    </div>
			</div>
	   	</div>
	</div>

   	<h2>Car Details</h2>
	<hr>
   	<div class="row" >
   		<div class="col-sm-4">
   			<h4>Engine: {{vehicle.engine.name}}</h4>
   			Compression Ratio: {{vehicle.engine.compressionRatio}} <br/>
   			Cylinger: {{vehicle.engine.cylinder}} <br/>
   			Size: {{vehicle.engine.size}} <br/>
   			Displacement: {{vehicle.engine.displacement}} <br/>
   			Configuration: {{vehicle.engine.configuration}} <br/>
   			Fuel Type: {{vehicle.engine.fuelType}} <br/>
   			Horse Power: {{vehicle.engine.horsepower}}<br/>
   			Torque: {{vehicle.engine.torque}}<br/>
   			Total Valves: {{vehicle.engine.totalValves}}<br/>
   			Manufacturer Engine Code: {{vehicle.engine.manufacturerEngineCode}}<br/>
   			Type: {{vehicle.engine.type}}<br/>
   			Code: {{vehicle.engine.code}}<br/>
   			Compressor Type: {{vehicle.engine.compressorType}}<br/>
   		</div>
   		<div class="col-sm-3">
   			<h4>Transmission {{vehicle.transmission.name}}</h4>
   			Transmission Type: {{vehicle.transmission.transmissionType}}<br/>
   			Number Of Speeds: {{vehicle.transmission.numberOfSpeeds}}<br/>

   			<h4>Categories </h4>
   			Market: {{vehicle.categories.market}}<br/>
   			EPA Class: {{vehicle.categories.EPAClass}}<br/>
   			Vehicle Size: {{vehicle.categories.vehicleSize}}<br/>
   			Vehicle Stype: {{vehicle.categories.vehicleStyle}}<br/>

   			<h4>Prices</h4>
   			Base MSRP: &euro; {{vehicle.price.baseMSRP}} <br/>
   			Base Invoice: &euro; {{vehicle.price.baseInvoice}} <br/>
   			Devivery Charges: &euro; {{vehicle.price.deliveryCharges}} <br/>
   		</div>

   		<div class="col-sm-5">
   			<h4>Options</h4>
   			<div class="optionsDiv">
	   			<div ng-if="vehicle.options.length" ng-repeat="option in vehicle.options">
	   				<h4>{{option.category}}</h4>
	   				<div ng-repeat="op in option.options">
	   					<b>{{op.name}}</b>
	   					<p>{{op.description}}</p>
	   				</div>
	   				<hr>
	   			</div> 
	   			<div ng-if="!vehicle.options.length">
	   				<img class="optionsImage" src="images/no-data.png">
	   			</div>
   			</div>
   		</div>
   	</div>

   	<div ng-if="photoArray.length">
	   	<h2>Exterior Pictures</h2>
		<hr>
		<div class="row">
			<div class="col-sm-4" ng-repeat="photo in photoArray" ng-if="photo.subType==='exterior'">
		   		<img class="slidePic" ng-src="{{ photo.imageSrc }}" alt="photo.captionTranscript" />
		   		<br/>
		   </div>
		</div>
		
		<h2>Interior Pictures</h2>
		<hr>
		<br/>
		<div class="row">
			<div class="col-sm-4" ng-repeat="photo in photoArray" ng-if="photo.subType==='interior'">
		   		<img class="slidePic" ng-src="{{ photo.imageSrc }}" alt="photo.captionTranscript" />
		   		<br/>
		   </div>
	   	</div> 
	</div>
	<h2>Car Reviews</h2>
	<hr>
	<br/>
	<!-- Reviews Section -->
	<div class="row" id="reviews-container"></div>

	<div class="row" ng-hide="hideArea">
		<div class="col-sm-12">
			<h3> There are no reviews yet. Would you like to write the first one? </h3>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<form role="form">
                <div class="form-group">
                    <label for="comments">Please enter your review here</label>
                    <input class="form-control" id="comments" name="comments">
                </div>

                <button type="submit" id="submit-btn" name="submit-btn" class="btn btn-success">Post Review</button>

                <button type="reset" class="btn btn-danger">Clear</button>
            </form>
		</div>
	</div>

</div>
