<div class="row">
    <div class="col-sm-6">
        <h1 class="text-center login-title">Sign in to continue</h1>
        
        <div class="row">
            <div class="col-sm-6">
                <button class="btn-lg btn-lg btn-primary btn-block" ng-click="gitHublogin()">GitHub Log in</button>
            </div>
            <div class="col-sm-6">
                <button class="btn-lg btn-lg btn-primary btn-block" ng-click="googleLogin()">Google Log in</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img class="navImg" src="images/car30.png">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        
        <div class="account-wall">
            <p class="text-center" ng-show="message"> {{ message }} </p>
            <img class="profile-img" src="images/Exclamation_icon.png" alt="">
            <form id="LogInForm" name="LogInForm" class="form-signin" ng-submit="login()" novalidate>
                <fieldset>
                    <input type="email" name="email" id="InputEmailLogin" ng-model="user.inputEmail" class="form-control" placeholder="Email" ng-required="true" autofocus>
                    <p class="error validationerror" ng-show="LogInForm.email.$invalid && LogInForm.email.$touched">
                    Must be a valid email</p>

                    <input type="password" name="password" id="InputPasswordLogin" ng-model="user.inputPassword" class="form-control" placeholder="Password" ng-required="true">
                    <p class="error validationerror" ng-show="LogInForm.password.$invalid && LogInForm.password.$touched">
                    Password is required</p>
                </fieldset>

                <button id="LogInBtn" class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="LogInForm.$invalid">Log in</button>
            </form>

            

        
        </div>
        <a href="#/register" class="text-center new-account">Create an account </a>
    </div>
</div>